.home{
    background-color: var(--color-secondary)
}

.text-red{
    color: var(--color-text-2);
}

/*==========/login============*/
.loginStyle{
    background-color: var(--color-secondary);
}
.pika-cute{
    width: auto;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.eevee-cute{
    width: auto;
    width: 28%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.login-box{
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    width: auto;
}

/*===============/signup============*/
.SignUp{
    background-color: var(--color-secondary);
}
h3{
    font-size: xx-large;
    
}

/*==============/pokemonteam=================*/
.PokemonTeam{
    background-color: var(--color-secondary);
    padding: 20px 10px 20px 10px;

}
.teambox{
    background-color: var(--color-primary-t);
    border: 3px solid rgb(248, 248, 248);
    border-radius: 10px;
    margin: 20px 10px 20px 10px;
    padding: 20px 10px 20px 10px;

}


/*============error page==============*/
.creepy-pasta{
    height: auto;
    width: 70%;
}
.scary-text{
    font-size: x-large;
    text-shadow: 2px 2px #c41c1c;
}


/* */
.pokemon-heading{
    color: white;
}

.pokemon-heading2{
    color: yellow;
}

.team-name{
    padding: 10px 0;

}

.card-text{
    display:flex;
    flex-direction: column;
}

.card-title{
    font-size:16px;
    padding: 4px 0;
}

.form-addteam{
    margin:20px 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.pokemon{
    margin: 20px 0;
    border: 2px solid black;
    padding: 4px;
    border-radius: 5px;
}

.input-bar {
  font-size: 20px;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  margin: 10px
}