
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pokemon-list {
    background-color:#3B4CCA;
}

.pokemonCard {
  border: 3px solid #FFDE00;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 30px;
}

.pokemonCard h1 {
    text-transform: capitalize;
    color: #CC0000;
}

.pokemonCard ul {
    list-style-type: none;
    padding: 0;
}

.pokemonCard img {
    object-fit: cover;
    width: 200px;
    height: auto;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.7;
    gap: 10px;
}

.text-wrapper p {
    text-align: left;
    max-width: 200px;
}

.description {
    font-size: 12px;
    
}

/* pokeball loading */
.center {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: white;
  position: relative;
  box-shadow: -20px 0 rgba(0, 0, 0, 0.1) inset;
  animation: shake 1s ease-in-out infinite;
  background: linear-gradient(
    to bottom,
    #e83e35 0%,
    #e83e35 50.5%,
    #ffffff 50.51%,
    #ffffff 100%
  );
}

.ball:after {
  content: "";
  position: absolute;
  top: calc(100px - 3px);
  left: 0;
  width: 200px;
  height: 6px;
  background: #3f3f3f;
}

.ball:before {
  content: "";
  position: absolute;
  top: 67px;
  left: 67px;
  width: 54px;
  height: 54px;
  border: solid 6px #3f3f3f;
  border-radius: 50%;
  background: white;
  z-index: 1;
  box-shadow: 0 0 15px -2px #c62828 inset;
  animation: button 4s ease infinite;
}

@keyframes shake {
  10%, 90% {
    transform: rotate(-10deg) translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: rotate(10deg) translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: rotate(-10deg) translate3d(2px, 0, 0);
  }

  40%, 60% {
    transform: rotate(10deg) translate3d(4px, 0, 0);
  }
}

@keyframes button {
  from,
  50%,
  to {
    box-shadow: 0 0 15px -2px #c62828 inset;
  }

  25%,
  75% {
    box-shadow: 0 0 10px -2px #1300ea inset;
  }
}
/* pokeball loading */

.wrapper {
    display: flex;
    justify-content: center;
}

.pokemon-list {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.pokemon-list input {
      font-size: 20px;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 500px;
}

select {
padding: 10px;
width: 200px;
font-size: 20px;
border-radius: 10px;
}

.pokemon-card {
    border-radius: 10px;
}

button {
    padding: 10px;
    background-color: #FFDE00;
    margin: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}
